[submodule "dependencies/parse-ecma"]
	path = dependencies/parse-ecma
	url = https://github.com/mattbierner/parse-ecma
[submodule "dependencies/parse"]
	path = dependencies/parse
	url = https://github.com/mattbierner/parse.js
[submodule "dependencies/amulet"]
	path = dependencies/amulet
	url = https://github.com/mattbierner/amulet.git
[submodule "dependencies/nu"]
	path = dependencies/nu
	url = https://github.com/mattbierner/nu.git
[submodule "dependencies/ecma-ast"]
	path = dependencies/ecma-ast
	url = git://github.com/mattbierner/ecma-ast.git
